# Ignore arquivos de sistema operacionais
.DS_Store
Thumbs.db

# Ignore arquivos de log
*.log

# Ignore pastas de configuração de IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace

# Ignore builds e diretórios de saída
out/
build/
target/

# Ignore bibliotecas e dependências baixadas
*.class
*.jar
*.war
*.ear
*.zip

# Ignore arquivos de configuração específicos do ambiente
.env
*.properties

# Ignore arquivos temporários
*.tmp
*.temp
